<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.training.android.roomate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_roomate"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hom_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AuthenticationActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.MainScreen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateProfile"
            android:noHistory="true" />
        <activity
            android:name=".activities.SelectPreferences"
            android:noHistory="true" />
        <activity
            android:name=".activities.SetupApartment"
            android:noHistory="true" />
        <activity
            android:name=".activities.ApartmentPreferences"
            android:noHistory="true" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.MyApartment" />
        <activity android:name=".activities.ApartmentActivity" />
        <activity android:name=".activities.ViewTenantProfile"></activity>
    </application>

</manifest>